@import url('https://fonts.googleapis.com/css2?family=Courier+Prime:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Schoolbell&display=swap');

header {
    visibility: hidden;
}

.nav-button {
    color: #66FCF1;
    padding: 8px 16px;
    text-decoration: none;
    font-family: 'Schoolbell';
    font-weight: 700;
    transition: all 0.3s ease;
    text-align: center;
}

.nav-button:hover {
    background-color: #66FCF1;
    color: #1F2833;
    text-decoration: none;
}

h1 {
    font-family: 'Courier Prime' !important;
    color: #66FCF1 !important;
    font-size: 48px !important;
    font-weight: 700 !important;
    text-align: center !important;
}

p {
    font-family: 'Courier Prime';
}

.courier-prime-regular {
    font-family: "Courier Prime";
    font-weight: 400;
    font-style: normal;
}

.courier-prime-bold {
    font-family: "Courier Prime";
    font-weight: 700;
    font-style: normal;
}